Flask
Flask-Admin
PyJWT
python-dateutil
python-dotenv
SQLAlchemy>=1.4.29
SQLAlchemy-Utils
six
email-validator
LogicBank>=1.04.02
safrs>=2.12.2
logicbankutils
flask-appbuilder>=3.4.4
PyMySQL
pyodbc==4.0.32
cryptography
requests
gunicorn