PyJWT==1.7.1
python-dateutil==2.8.1
six==1.15.0
SQLAlchemy==1.3.24
Flask-AppBuilder==3.1.1
LogicBankUtils==0.6.0
inflect==5.0.2
safrs>=2.11.3
flask-admin
flask-cors
Flask
Flask-Admin
python-dotenv
email-validator
LogicBank>=0.9.5
PyMySQL
cryptography
requests
