PyJWT==1.7.1
python-dateutil==2.8.2
six==1.16.0
SQLAlchemy==1.4.29
SQLAlchemy-Utils==0.38.2
Flask-AppBuilder==3.4.4
LogicBankUtils==0.6.0
inflect==5.0.2
safrs>=2.12.2
flask-admin
flask-cors
flask
python-dotenv
email-validator
LogicBank>=1.04.02
PyMySQL
# pyodbc==4.0.30
cryptography
requests
gunicorn
psycopg2-binary
DotMap
WTForms==2.3.3
